<section id="numOfMenus">
    There are {{menus.length}} menus.
</section>

<!--resto_id and menus are passed from the get request as arguments that we can acess in menus.handlebars-->
<!--//TO POST a new menu for a specific restaurant-->
<form action="/restaurants/{{resto_id}}/menus" method="post"> 
    <input placeholder="new menu title" type="text" name="title">
    <input type="submit">
</form>

<section>
    <!--//TO GET menus for a specific restaurant-->
    {{#each menus}}
        <article id="article-{{this.id}}">
            <h2 >{{this.id}}</h2>
            <h2>{{this.title}}</h2>

            <!--//To view the menu items of a specific restaurant-->
            <a href='/menus/{{id}}/menu_items'>See items</a>

            <!--//TO DELETE a menu for a specific restaurant-->
            <button type="button" data-id={{this.id}} onclick="deleteMenu({{this.RestaurantId}}, {{this.id}})">
                Delete menu
            </button>
        </article>
    {{/each}}
    <script>
        let numOfMenus = {{menus.length}};
    </script>
</section>